/*
 * Globals
 */

/* Links */
a,
a:focus {
  color: #3d3d62;
}
a:hover {
  color: #6a9fb5;
  text-decoration: none;
}


/*
 * Base structure
 */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  text-align: center;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #6a9fb5;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #6a9fb5;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #3d3d62;
  border-bottom-color: #3d3d62;
  border-bottom-width: 2px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    margin-bottom: 30px;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Videos
 */

video {
  width: 100%;
}

/* Video thumbnails */
.videos div {
  -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.videos .btn-primary {
  margin-top: 10px;
}
.speed:not(:empty) {
  padding: 20px;
  margin: 10px 0;
  background: #eee;
}

/* Custom primary button */
.btn-primary {
  background-color: #3d3d62;
  border-color: #3d3d62;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #6a9fb5;
  border-color: #6a9fb5;
}


/*
 * Footer
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #3d3d62;
}
/* Footer links */
.footer a {
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
}
.container .text-muted {
  margin: 20px 0;
  color: rgba(255,255,255,.6);
}
