/*
 * Globals
 */

/* Links */
a,
a:focus {
  color: #fff;
}
a:hover {
  color: #337ab7;
  text-decoration: none;
}


/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.site-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: table;
  width: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .logo {
    float: left;
    margin-bottom: 30px;
  }
}


/* 
 * Carousel
 */

/* Carousel base class */
.carousel {
  min-height: 480px;
  height: 100vh;
  max-height: 768px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  padding-bottom: 60px;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  min-height: 480px;
  height: 100vh;
  max-height: 768px;
  background-color: #3d3d62;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.imageone {
  background-image: url('../img/imageone.jpg');
}
.imagetwo {
  background-image: url('../img/imagetwo.jpg');
}
.imagethree {
  background-image: url('../img/imagethree.jpg');
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.down-button {
	cursor: pointer;
  position: relative;
  bottom: 60px;
  z-index: 10;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.down-button:hover {
	color: #3d3d62;
}

/* 	
 * Featured videos
 */

.featured-videos {
	padding-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}
.featured-videos .col-lg-4 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.video-boxes {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.description {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	opacity: 0;
	border-radius: 6px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.video-boxes:hover .description {
	color: #fff;
	opacity: 1;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/*	
 * Marketing content
 */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color: #5a5a5a;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color: #5a5a5a;
}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/*
 * Footer
 */

footer > p > a,
footer > p > a:focus {
  color: #337ab7;
}
footer > p > a:hover {
  color: #337ab7;
  text-decoration: underline;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}