/*
 * Globals
 */

/* Links */
a,
a:focus {
  color: #fff;
}
a:hover {
  color: #6a9fb5;
  text-decoration: none;
}

/* Custom default button */
.btn-default {
  color: #3d3d62;
  background-color: #fff;
  border-color: #3d3d62;
}
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: #6a9fb5;
  border-color: #6a9fb5;
}


/*
 * Base structure
 */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.site-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: table;
  width: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Carousel
 */

/* Carousel base class */
.carousel {
  height: 100vh;
  max-height: 768px;
  min-height: 480px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  max-height: 768px;
  min-height: 480px;
  background-color: #3d3d62;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

/* Remove carousel control background gradient */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* Backgound images */
.imageone {
  background-image: url('../img/imageone.jpg');
}
.imagetwo {
  background-image: url('../img/imagetwo.jpg');
}
.imagethree {
  background-image: url('../img/imagethree.jpg');
}

/* Down button */
.button-down {
  position: relative;
  bottom: 60px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
       -o-transition: all .2s linear;
          transition: all .2s linear;
}


/*
 * Featured videos
 */

.featured-videos {
  padding-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}
.featured-videos .col-lg-4 {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.video-boxes {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.video-boxes:hover .description {
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}


/*
 * Marketing content
 */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color: #3d3d62;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color: #5a5a5a;
}
.marketing .img-circle {
  width: 140px;
  height: 140px;
}
.featurette-divider {
  margin: 80px 0;
}


/*
 * Footer
 */

/* Padding below the footer and lighter footer text */
.footer {
  margin-top: 140px;
  padding-bottom: 40px;
  color: #5a5a5a;
  text-align: center;
}

/* Footer links */
.footer a,
.footer a:focus {
  color: #6a9fb5;
}
.footer a:hover {
  color: #6a9fb5;
  text-decoration: underline;
}

/* Social buttons */
.social-buttons {
  margin-bottom: 30px;
}
.github-btn {
  overflow: hidden;
  border: 0;
}

/* Logo up button */
.logo {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background: url(../img/fastcast.svg);
  background-size: 100% 100%;
  opacity: 0.6;
  -webkit-transition: opacity .6s linear;
       -o-transition: opacity .6s linear;
          transition: opacity .6s linear;
}
.logo:hover,
.logo:active {
  background: url(../img/chevron-up.svg);
  background-size: 100% 100%;
  opacity: 1;
}
